---
name: ci/cd

"on":
  workflow_dispatch:
  push:
    branches:
      - master
    paths-ignore:
      - LICENSE
      - README.md
      - fly.toml
      - '.github/workflows/*'
      - '.github/dependabot.yaml'
      - '.github/CODEOWNERS'
  pull_request:
    branches:
      - master
    paths-ignore:
      - LICENSE
      - README.md
      - fly.toml
      - '.github/workflows/*'
      - '.github/dependabot.yaml'
      - '.github/CODEOWNERS'

jobs:
  build:
    name: build wasmplayer
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: checkout project
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
      - name: rust stable latest
        id: rust
        run: |
          latest="$(curl -sL https://api.github.com/repos/rust-lang/rust/releases/latest | jq -r .tag_name)"
          echo "rust stable latest: ${latest}"
          echo "stable_latest=${latest}" >> "$GITHUB_OUTPUT"
          used="$(cargo --version | awk '{print $2}')"
          echo "rust stable used: ${used}"
          echo "stable_used=${used}" >> "$GITHUB_OUTPUT"
      - name: check cache
        uses: actions/cache@8b402f58fbc84540c8b491a91e594a4576fec3d7
        id: cache
        with:
          path: |
            ~/.cargo/
            ~/.rustup/
            target/
          key: ${{ runner.os }}-rust-${{ steps.rust.outputs.stable_latest }}-${{ hashFiles('Cargo.toml') }}-${{ hashFiles('Cargo.lock') }}
      - name: update toolchain
        if: steps.rust.outputs.stable_latest != steps.rust.outputs.stable_used
        run: |
          rustup update stable
      - name: cargo fmt
        run: |
          cargo fmt -- --check --verbose
      - name: cargo clippy
        run: |
          cargo clippy --locked --workspace
      - name: install wasm-pack
        uses: taiki-e/install-action@650c5ca14212efbbf3e580844b04bdccf68dac31
        with:
          tool: wasm-pack
          checksum: true
      - name: build wasmplayer
        run: |
          wasm-pack build --release --target web --no-opt
      - name: upload wasmplayer
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f
        if: github.event_name == 'push' || github.event_name == 'workflow_dispatch'
        with:
          name: wasmplayer
          path: pkg/
          if-no-files-found: error
          retention-days: 1
  deploy:
    name: deploy wasmplayer
    needs: build
    if: github.event_name == 'push' || github.event_name == 'workflow_dispatch'
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: checkout project
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
      - name: download wasmplayer
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131
        with:
          name: wasmplayer
          path: pkg/
      - name: prepare wasmplayer
        run: |
          set -x
          mkdir -p wasmplayer/pkg/
          mv pkg/wasmplayer.js \
             pkg/wasmplayer_bg.wasm \
             wasmplayer/pkg/
          mv assets/ \
             index.html \
             wasmplayer/
      - name: publish to gh-pages
        uses: peaceiris/actions-gh-pages@4f9cc6602d3f66b9c108549d475ec49e8ef4d45e
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: wasmplayer/
