---
name: sliminio

"on":
  workflow_dispatch:
  schedule:
    - cron: "0 1 1 * *"

permissions:
  contents: read

jobs:
  deploy:
    name: sliminio deploy
    runs-on: ubuntu-latest
    environment:
      name: sliminio
    steps:
      - name: checkout project
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
      - name: flyio setup
        uses: superfly/flyctl-actions/setup-flyctl@master
      - name: flyio deploy
        run: |
          set -x
          docker pull docker.io/minio/minio:latest
          flyctl deploy --local-only --image docker.io/minio/minio:latest
        env:
          FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
